
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
section{
    margin-bottom: 50px;
}
.frist{
    width: 100%;
    margin-left: 50px;
}
.frist img{
    height: 750px;
    width: 620px;
}
  
}